
<div class="py-5 border-top">
  <div class="container">

    <!-- <p class="h5">{{ site.title | escape }}</p> -->

    <div class="row">

      <div class="col-sm">

          <!-- {%- if site.email -%} -->
            <p class="contact-footer"><img src="/portfolio/images/button.svg" class="footer-logo" alt="button icon" /> Connect with me: 
              <a href="mailto:{{ site.email }}">
                Email
              </a>  •  <a href="https://www.linkedin.com/in/elisabeth-button-aa34a620/"> LinkedIn</a>
 </p>
          <!-- {%- endif -%} -->

      </div>


      <!-- <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>


      </div> -->

    </div>

  </div>
</div>
