<div class="row mt-3">
  <div class="col-lg-4 col-sm-6 mt-3 text-center">
    <a href="/portfolio/projects/care.html"><img src="/portfolio/images/care-square.png" class="square-img img-link" alt="Screenshot of Texas A&M Health clinical care website" /><br /><span class="project-link">Texas A&M Health: <br />Patient Care</span></a>
    
  </div>
  <div class="col-lg-4 col-sm-6 mt-3 text-center">
    <a href="/portfolio/projects/health.html"><img src="/portfolio/images/health-square.png" class="square-img img-link" alt="Screenshot of Texas A&M Health main website" /><br /><span class="project-link">Texas A&M Health:<br />Education & Research</span></a>
  </div>
  <div class="col-lg-4 col-sm-6 mt-3 text-center">
    <a href="/portfolio/projects/pharmacy.html"><img src="/portfolio/images/pharm-square.png" class="square-img img-link" alt="Screenshot of Texas A&M Health clinical care website" /><br /><span class="project-link">Texas A&M<br />College of Pharmacy</span></a>
  </div>
  <div class="col-lg-4 col-sm-6 mt-3 text-center">
    <a href="/portfolio/projects/care.html"><img src="/portfolio/images/spark-square.png" class="square-img img-link" alt="Screenshot of Texas A&M Health Spark campaign website" /><br /><span class="project-link">Making What If Possible</span></a>
    </div>

</div>
