---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";

.header-logo {
    vertical-align: top;
    max-width: 30px;
    margin-right: 0;
}
.footer-logo {
    vertical-align: top;
    max-width: 25px;
    margin-right: 0;
}
.contact-footer {
    font-size: 1rem;
}

.smallish {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fa, .fas {
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 1rem;
    color: $primary;
}
.icon {
    text-align: center;
}
.project-link {
    text-transform: uppercase;
    margin-top: 1rem;
}
.img-link, .lightbox-link, .img-border {
    border: 1px solid #d9d9d9;
}
.square-img {
    margin-bottom: .75rem;
}
.caption-link {
    font-style: italic;
}
.certs, .copy-list {
    padding-inline-start: 18px;
}
footer {
    background-color: #5a5a5a;
}
.contact-footer {
    color: #fff;
}
.footer-link {
    color: #fff;
}
.footer-link:hover, .footer-link:focus, .footer-link:active {
    color: $secondary;
}
.project-link {
    color: $gray-700;
}
.project-link:hover, .project-link:focus, .project-link:active {
    color: $tertiary;
}
#gallery a {
    text-decoration: none !important;
}
.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: $secondary !important;
}
.caption-right {
    font-size: .8rem;
    font-style: italic;
    text-align: right;
    margin-right: -15px;
    margin-top: .5rem;
}
.caption-link {
    color: $tertiary;
}
.caption-link:hover, .caption-link:focus, .caption-link:active {
    color: $primary;
    // text-decoration: underline;
}
.strength {
    padding-left: .25rem;
    padding-right: .25rem;
}
.btn-strength, .btn-back {
    color: #fff;
    background-color: $tertiary;
    border: none;
    width: 100%;
}
.btn-strength:hover, .btn-strength:focus, .btn-strength:active, .btn-back:hover, .btn-back:focus, .btn-back:active {
    background-color: $primary;
}
.btn-back {
    padding: 0.25rem;
}

.modal-header {
    align-items: center;
    padding: .5rem 1rem;
}
.modal-title {
    font-size: .5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}