---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";

.smallish {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.fa, .fas {
    font-weight: 900;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.icon {
    text-align: center;
}